{
  "Id": "",
  "GameId": "",
  "EntryKey": "config://sectors",
  "ContentType": "x-mod/config",
  "Content": "",
  "Usage": 0,
  "UsePublish": 1,
  "UseService": 0,
  "CoreVersion": "26.7.0.0",
  "StudioVersion": "0.1.0.0",
  "DynamicLoading": 0,
  "ContentProto": {
    "Use": "Json",
    "Json": {
      "Sectors": [
        {
          "id": "sector01",
          "name": "sector01",
          "maxUserNo": 16,
          "entries": [
            "map://map01",
            "map://map02",
            "map://map03",
            "map://map04",
            "map://map05",
            "map://maptown",
            "map://mapjob",
            "map://map11",
            "map://map12",
            "map://map13",
            "map://map1a",
            "map://map14",
            "map://map16",
            "map://map17",
            "map://map23",
            "map://map25",
            "map://map24",
            "map://map22",
            "map://map21",
            "map://map15",
            "map://map041",
            "map://map042",
            "map://map043",
            "map://map044",
            "map://map045"
          ]
        }
      ],
      "AllowOverMaxEntryCountPerSector": false,
      "config_id": "config://sectors"
    }
  }
}